@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

              
                .brand-glow {
                    /* Basic text shadow for a glow effect */
                    text-shadow:
                        0 0 5px #fff,    /* White glow */
                        0 0 10px #fff,
                        0 0 15px #fff,
                        0 0 20px rgb(0, 255, 42),   /* Blue glow for a deeper effect */
                        0 0 30px rgb(0, 255, 238),
                        0 0 40px rgb(0, 255, 38);
                    animation: glow-animation 2s infinite alternate; /* Optional: subtle animation */
                }

                @keyframes glow-animation {
                    from {
                        text-shadow:
                            0 0 5px #fff,
                            0 0 10px #fff,
                            0 0 15px #fff,
                            0 0 20px rgb(165, 165, 165);
                    }
                    to {
                        text-shadow:
                            0 0 10px #fff,
                            0 0 20px #fff,
                            0 0 30px #fff,
                            0 0 40px #00f,
                            0 0 50px #00f,
                            0 0 60px #00f;
                    }
                }
                @property --num-transactions {
syntax: "<integer>";
initial-value: 0;
inherits: false;
}

@property --num-assets {
syntax: "<integer>";
initial-value: 0;
inherits: false;
}

@property --num-users {
syntax: "<integer>";
initial-value: 0;
inherits: false;
}

@keyframes counter {
from {
--num-transactions: 0;
--num-assets: 0;
--num-users: 0;
}
to {
--num-transactions: 44;
--num-assets: 119;
--num-users: 4600;
}
}
 .card {
  display: flex;
  height: 70px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4,.card .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 50px;
  height: 50px;
  color: whitesmoke;
  font-size: 16px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 40px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #1d4292;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #000000;
  animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
  background-color: #12a50b;
  animation: bounce_613 0.4s linear;
}

.card .social-link5:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}